.logo h1 {
  line-height: 1.5rem;
  color: rgba(250, 2, 2, 0.8);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
}

.footer {
  width: 100%;
}
.footer-content {
  padding: 50px 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 50px 0;
}
.col {
  max-width: 300px;

  width: 150px;

  width: auto;
}

.super-title {
  margin-bottom: 20px;
  font-size: 25px;
  text-align: left;
  color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
.title {
  margin-bottom: 20px;
  font-size: 20px;
}
.super-text {
  color: #22262a;
  font-size: 14px;
}
.c-item {
  display: flex;
  margin-bottom: 10px;
}

.text-item {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.bottom-bar-content {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  padding: 0;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}
.text {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

/* product details ------------------------------------------ */

.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #eee;
  margin-right: 10px;
}

.carousel-dots li {
  background-color: blue;
}

.carousel-dots li.slick-active {
  background-color: blue;
}

/*Switch Color */

input[type="radio"]#Blue {
  accent-color: #006cff;
}

input[type="radio"]#Red {
  accent-color: #ff0000;
}

input[type="radio"]#Black {
  accent-color: #171717;
}

input[type="radio"]#Yellow {
  accent-color: yellow;
}

input[type="radio"]#Rose {
  accent-color: #ff00b4;
}

input[type="radio"]#Pink {
  accent-color: pink;
}

.css-lqqdgu {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0s;
  transition: all 0s;
  display: inline-block;
  box-shadow: 0 0 0 2px inset #ffffff, 0 0 0 1px #1677ff;
}
.css-lqqdgu > input[type="radio"] {
  width: 0;
  height: 0;
  opacity: 0;
}

.css-1j6rah6 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0s;
  transition: all 0s;
  display: inline-block;
}
.css-1j6rah6 > input[type="radio"] {
  width: 0;
  height: 0;
  opacity: 0;
}

/* homepage -------------------------------------------------------------------- */
/* .button-overlay {
  position: absolute; 
  top: 35%;
  left: 50%;
  padding-left: 35%;
  padding-right: 35%;
  padding-top: 45%;
  padding-bottom: 45%;
  transform: translate(-50%, -50%);
  text-align: center; */
/* background-color: rgba(255, 255, 255, 0.742); */
/* background-color: rgba(120, 45, 45, 0.742);
  z-index: 1%;
} */

.shop-now-button {
  color: white;
  border-bottom: 3px solid white;
  border-top: 0px #2e90e5;
  border-right: 0px #2e90e5;
  border-left: 0px #2e90e5;
  background-color: #2e90e5;

  /* adjust width based on screen size */
  width: 50%;
  max-width: 100px;

  /* center the button */
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* media query for smaller screens */
@media (max-width: 768px) {
  .shop-now-button {
    width: 50%;
    max-width: 100px;
  }
}

/* product card -------------------------------------------------------------------- */

.card-image {
  height: 300px;
}

@media screen and (max-width: 767px) {
  .card-image {
    height: 200px;
  }
}

@media screen and (max-width: 479px) {
  .card-image {
    height: 150px;
  }
}

@media screen and (max-width: 768px) {
  .responsive-rate {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .responsive-rate {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .badge-ribbon {
    font-size: 10px;
    top: -6px;
    left: -8px;
  }
  .ant-typography {
    font-size: 14px;
  }
}

.card-image {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

@media (max-width: 768px) {
  .card-image {
    padding-bottom: 80%;
  }

  .ant-ribbon {
    font-size: 10px;
    top: -6px;
    left: -8px;
  }
}

@media (max-width: 480px) {
  .card-image {
    padding-bottom: 60%;
  }

  .ant-ribbon {
    font-size: 8px;
    top: -4px;
    left: -6px;
  }
}

.list {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 50px;
  }

  p {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 25px;
  }

  p {
    font-size: 15px;
  }
}

.responsive-rate {
  font-size: 14px;
}

@media (max-width: 768px) {
  .responsive-rate {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .card-image-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-image-overlay button {
    margin: 10px;
    width: 40%;
    height: 40%;
  }

  .responsive-rate {
    font-size: 20px !important;
  }

  .ant-card-meta-title {
    font-size: 20px !important;
  }

  .ant-card-meta-description {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 480px) {
  .card-image-overlay button {
    width: 60%;
    height: 60%;
  }

  .responsive-rate {
    font-size: 18px !important;
  }

  .ant-card-meta-title {
    font-size: 18px !important;
  }

  .ant-card-meta-description {
    font-size: 14px !important;
  }
}
